[Unit]
Description=Mount unit for amazon-ssm-agent, revision 11797
After=snapd.mounts-pre.target
Before=snapd.mounts.target

[Mount]
What=/var/lib/snapd/snaps/amazon-ssm-agent_11797.snap
Where=/snap/amazon-ssm-agent/11797
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=snapd.mounts.target
WantedBy=multi-user.target
